[submodule "segment_common"]
	path = segment_common
	url = https://github.com/segment11/segment_common
	branch = main
[submodule "segmentd"]
	path = segmentd
	url = https://github.com/segment11/segmentd
	branch = main
[submodule "segmentweb"]
	path = segmentweb
	url = https://github.com/segment11/segmentweb
	branch = main