[submodule "segment_common"]
	path = segment_common
	url = https://github.com/segment11/segment_common
	branch = master
[submodule "segmentd"]
	path = master
	url = https://github.com/segment11/segmentd
	branch = master
[submodule "segmentweb"]
	path = segmentweb
	url = https://github.com/segment11/segmentweb
	branch = master