<div ng-controller="MainCtrl">
    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Gateway Traefik Cluster List</h5>
                    <div class="actions">
                        <button class="btn" ng-click="queryLl()">Refresh</button>
                    </div>
                </div>
                <div class="widget-content">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="10%">app id</th>
                            <th width="20%">name</th>
                            <th width="20%">des</th>
                            <th width="15%">server</th>
                            <th width="15%">updated date</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="one in ll">
                            <td>{{one.appId}}</td>
                            <td>{{one.name}}</td>
                            <td>{{one.des}}</td>
                            <td>
                                <p>Server: <a ng-href="{{one.serverUrl}}:{{one.serverPort}}" target="_blank">{{one.serverUrl}}:{{one.serverPort}}</a></p>
                                <p>Dashboard: <a ng-href="{{one.serverUrl}}:{{one.dashboardPort}}" target="_blank">{{one.serverUrl}}:{{one.dashboardPort}}</a></p>
                            </td>
                            <td>{{one.updatedDate | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                            <td class="opts">
                                <div class="btn-line">
                                    <button class="btn" ng-click="goRouter(one)">Router List</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


        </div><!-- /.row-fluid -->
    </div>
</div>
