<div ng-controller="MainCtrl">

    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Gateway Overview</h5>
                </div>
                <div class="widget-content">
                    <div class="form-group">
                        <label>Cluster: </label>
                        <select ng-model="tmp.clusterId" ng-options="a.id as a.name for a in clusterList"
                                style="width: 200px;" ng-change="onClusterChoose()">
                            <option value="" selected>--/--</option>
                        </select>
                    </div>

                    <div class="row" ng-repeat="one in list" style="border: 2px gray solid;">
                        <div class="col-md-4" style="border-right: 2px blue dotted;">
                            <h3>{{one.name}}</h3>
                            <p style="text-align: center;">{{one.des}}</p>
                            <p style="text-align: center;">{{one.rule}}</p>
                        </div>
                        <div class="col-md-8">
                            <legend>LoadBalancer Server List</legend>
                            <p ng-show="one.isNotMatch" class="bg-danger">Running container server url not match</p>
                            <div ui-mind="one" style="height: 300px;"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- /.row-fluid -->

    </div>

</div>
