<div ng-controller="MainCtrl">
    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Gateway Traefik Router List - Cluster: {{clusterName}}</h5>
                    <div class="actions">
                        <button class="btn" ng-click="addOne()">Add One</button>
                        <button class="btn" ng-click="back()">Back</button>
                    </div>
                </div>
                <div class="widget-content">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="10%">id</th>
                            <th width="10%">name</th>
                            <th width="10%">des</th>
                            <th width="20%">rule</th>
                            <th width="10%">priority</th>
                            <th width="20%">updated date</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="one in ll">
                            <td>{{one.id}}</td>
                            <td>{{one.name}}</td>
                            <td>{{one.des}}</td>
                            <td><span class="bg-info">{{one.rule}}</span></td>
                            <td>{{one.priority}}</td>
                            <td>{{one.updatedDate | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                            <td class="opts">
                                <button class="btn btn-red" ng-click="delete(one)">Delete</button>
                                <button class="btn" ng-click="edit(one)">Update</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


        </div><!-- /.row-fluid -->
    </div>

    <script type="text/x-template"
            ui-dialog="{showModel: 'ctrl.isShowAdd', title: 'Add/Update Gateway Traefik Router', dialogId: 'dialogGatewayRouter', lock: true, fixed: true, ext: {max: false}}">

        <div style="height: 400px; overflow-x: hidden;">
            <table class="table table-bordered table-striped m_top6" style="width: 800px;" ng-form="tmp.addForm">
                <tr>
                    <td width="20%">ID</td>
                    <td>{{editOne.id}}</td>
                </tr>
                <tr>
                    <td>Updated Date</td>
                    <td>{{editOne.updatedDate | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" ng-model="editOne.name" ui-valid="r"/>
                    </td>
                </tr>
                <tr>
                    <td>Des</td>
                    <td>
                        <input type="text" ng-model="editOne.des"/>
                    </td>
                </tr>
                <tr>
                    <td>Cluster</td>
                    <td>
                        <select ng-model="editOne.clusterId" ng-options="a.id as a.name for a in tmp.clusterList"
                                style="width: 120px;" ui-valid="r">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Priority</td>
                    <td>
                        <input type="text" ng-model="editOne.priority" ui-valid="r int"/>
                    </td>
                </tr>
                <tr>
                    <td>Rule</td>
                    <td>
                        <input type="text" ng-model="editOne.rule" placeholder="Host(`example.com`)" ui-valid="r"/>
                    </td>
                </tr>
                <tr>
                    <td>Service.name</td>
                    <td>
                        <input type="text" ng-model="editOne.service.name" ui-valid="r"/>
                    </td>
                </tr>
                <tr>
                    <td>Service.loadBalancer.passHostHeader</td>
                    <td>
                        <input type="checkbox" ng-model="editOne.service.loadBalancer.passHostHeader"/>
                    </td>
                </tr>
                <tr>
                    <td>Service.loadBalancer.serverUrlList</td>
                    <td>
                        <div style="margin: 5px;">
                            <button class="btn" ng-click="editOne.service.loadBalancer.serverUrlList.push({url: 'http://127.0.0.1:8080', weight: 10})">Add One
                                Server Url
                            </button>
                        </div>
                        <div style="margin: 5px;" ng-repeat="param in editOne.service.loadBalancer.serverUrlList">
                            <span>Url&nbsp;<input type="text" ng-model="param.url" style="width: 200px;" ui-valid="r schemeHostPort"/></span>
                            <span>Weight&nbsp;<input type="text" ng-model="param.weight" class="input-short" ui-valid="r int"/></span>
                            <span>
				                <button class="btn" ng-click="editOne.service.loadBalancer.serverUrlList.remove(param)"
                                        style="min-width: 20px;">-</button>
			                </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Service.weighted</td>
                    <td>
                        <div style="margin: 5px;">
                            <button class="btn" ng-click="editOne.service.weighted.services.push({})">Add One
                                Weight Config
                            </button>
                        </div>
                        <div style="margin: 5px;" ng-repeat="param in editOne.service.weighted.services">
                            <span>Name&nbsp;<input type="text" ng-model="param.v1" class="input-short" ui-valid="r"/></span>
                            <span>Weight&nbsp;<input type="text" ng-model="param.v2" class="input-short" ui-valid="r int"/></span>
                            <span>
				                <button class="btn" ng-click="editOne.service.weighted.services.remove(param)"
                                        style="min-width: 20px;">-</button>
			                </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Service.mirroring</td>
                    <td>
                        <div style="margin: 5px;">
                            <input type="text" ng-model="editOne.service.mirroring.service"/>
                        </div>
                        <div style="margin: 5px;">
                            <button class="btn" ng-click="editOne.service.mirroring.mirrors.push({})">Add One
                                Mirror Config
                            </button>
                        </div>
                        <div style="margin: 5px;" ng-repeat="param in editOne.service.mirroring.mirrors">
                            <span>Service&nbsp;<input type="text" ng-model="param.v1" class="input-short" ui-valid="r"/></span>
                            <span>Percent&nbsp;<input type="text" ng-model="param.v2" class="input-short" ui-valid="r int"/></span>
                            <span>
				                <button class="btn" ng-click="editOne.service.mirroring.mirrors.remove(param)"
                                        style="min-width: 20px;">-</button>
			                </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Middlewares</td>
                    <td>
                        <div style="margin: 5px;">
                            <button class="btn" ng-click="editOne.middlewares.list.push({})">Add One
                                Middleware
                            </button>
                        </div>
                        <div style="margin: 5px;" ng-repeat="param in editOne.middlewares.list">
                            <span>Type&nbsp;<select ng-model="param.type" style="width: 80px;" ui-valid="r"
                                                    ng-options="a for a in tmp.middlewareTypeList">
						        <option value="" selected>--/--</option>
					            </select>
                            </span>
                            <span>Name&nbsp;<input type="text" ng-model="param.name"
                                                         class="input-short"
                                                         ui-valid="r"/></span>
                            <span>JSON Value&nbsp;<input type="text" ng-model="param.json"
                                                            style="width: 200px;"
                                                            ui-valid="r"/></span>
                            <span>
				                <button class="btn" ng-click="editOne.middlewares.list.remove(param)"
                                        style="min-width: 20px;">-</button>
			                </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <button class="btn btn-blue" ng-click="save()">Save</button>
        <button class="btn" ng-click="ctrl.isShowAdd = false">Close</button>
    </script>

</div>
