.nav-list>li.active {
	border-top: 1px solid #168dd6
}

.breadcrumbs {
	border-top: 2px solid #168dd6;
	background: #168dd6;
}
.crumb-tabs li:hover {
	background-color: #036dad!important;	
	color: #fff!important;
}
.crumb-tabs li.active {	
	background-color:#FFFFFF;
	color: #168dd6;}
.crumb-tabs li.active:hover {
	color: #168dd6!important;	
	background-color:#fff!important;}

.nav-list>li.active>a, .nav-list>li.active>a:hover, .nav-list>li.active>a:focus, .nav-list>li.active>a:active {
	background: #168dd6;color: #fff;
}

.nav-list>li>a>[class*="icon-"]:first-child {
	color: #168dd6;
}
.nav-list>li .submenu>li>a:hover {
	color: #168dd6;
}
.nav-list>li .submenu>li.active>a {
	color: #168dd6;
}
.menu-min .nav-list>li.active>a>.menu-text{
	border-left-color: #ddd;
}
.menu-min .nav-list>li>a>.menu-text {
	color: #168dd6;
}
.menu-min .sidebar-shortcuts-large { 
	background: #168dd6;
}
.sidebar-shortcuts {
	background-color: #168dd6;
}

.dropdown-menu.dropdown-close.pull-right {
	background: #efefef;
}
.dropdown-yellow li a:hover {
	background: #168dd6;
	color:#fff;
}
.dropdown-navbar>li.dropdown-header {
	background-color: #efefef!important;
	color:#666;
}
.navbar-header ul .blue {
	width:auto; 
	background-color:none;
}
.dropdown-navbar>li.dropdown-header{
	font-weight: normal;
} 
.dropdown-menu>li>a {
	color:#666;
}
.nav-list>li>.submenu li>.submenu li.active>a {
	color: #168dd6
}

.nav-list>li>.submenu li>.submenu>li a:hover {
	color: #168dd6;
	text-decoration: none;
}

.nav-list>li .submenu>li.active>a>[class*="icon-"]:first-child {
	color: #168dd6;
}
