<div ng-controller="MainCtrl">

    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Add One Redis Service</h5>
                    <div class="actions">
                        <button class="btn btn-blue" ng-click="add()">Add</button>
                        <button class="btn" ng-click="back()">Back</button>
                    </div>
                </div>
                <div class="widget-content">
                    <table class="table table-bordered table-striped m_top6" style="width: 1200px;"
                           ng-form="tmp.addForm">
                        <tr>
                            <td width="30%" style="color: blue;">Name</td>
                            <td>
                                <input type="text" ng-model="editOne.name" ui-valid="r"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: blue;">Des</td>
                            <td>
                                <input type="text" ng-model="editOne.des"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: blue;">Engine</td>
                            <td>
                                <input type="radio" value="redis" ng-model="editOne.engineType"/>&nbsp;Redis&nbsp;&nbsp;
                                <input type="radio" value="valkey" ng-model="editOne.engineType"/>&nbsp;Valkey&nbsp;&nbsp;
                                <input type="radio" value="engula" ng-model="editOne.engineType"/>&nbsp;Engula&nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="color: blue;">Engine Version</td>
                            <td>
                                <select ng-model="editOne.engineVersion" style="width: 80px;">
                                    <option value="6.2">6.2</option>
                                    <option value="7.2">7.2</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: blue;">Mode</td>
                            <td>
                                <input type="radio" value="standalone" ng-model="editOne.mode"/>&nbsp;standalone&nbsp;&nbsp;
                                <input type="radio" value="sentinel" ng-model="editOne.mode"/>&nbsp;sentinel&nbsp;&nbsp;
                                <input type="radio" value="cluster" ng-model="editOne.mode"/>&nbsp;cluster&nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr ng-show="editOne.mode == 'cluster'">
                            <td style="color: blue;">Shards</td>
                            <td>
                                <select ng-model="editOne.shards" style="width: 80px;"
                                        ui-valid="{{editOne.mode == 'cluster' ? 'r' : ''}}">
                                    <option value="2">2</option>
                                    <option value="4">4</option>
                                    <option value="8">8</option>
                                    <option value="16">16</option>
                                    <option value="32">32</option>
                                </select>
                            </td>
                        </tr>
                        <tr ng-show="editOne.mode == 'sentinel' || editOne.mode == 'cluster'">
                            <td style="color: blue;">Replicas</td>
                            <td>
                                <select ng-model="editOne.replicas" style="width: 80px;"
                                        ui-valid="{{editOne.mode == 'sentinel' || editOne.mode == 'cluster' ? 'r' : ''}}">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </td>
                        </tr>
                        <tr ng-show="editOne.mode == 'sentinel'">
                            <td style="color: blue;">Sentinel Name</td>
                            <td>
                                <select ng-options="a.id as a.name for a in tmp.sentinelServiceList"
                                        ng-model="editOne.sentinelServiceId"
                                        ui-valid="{{editOne.mode == 'sentinel' ? 'r' : ''}}"
                                        style="width: 80px;">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: blue;">Port</td>
                            <td><input type="text" ng-model="editOne.port"
                                       ui-valid="r int minval:int:6379 maxval:int:36379"
                                       style="width: 120px;"/></td>
                        </tr>
                        <tr>
                            <td style="color: blue;">Password (Optional)</td>
                            <td><input type="password" ng-model="editOne.pass" style="width: 120px;"/></td>
                        </tr>
                        <tr>
                            <td style="color: blue;">Config Template</td>
                            <td>
                                <select ng-options="a.id as a.name for a in tmp.configTemplateList"
                                        ng-model="editOne.configTemplateId"
                                        ui-valid="r"
                                        style="width: 120px;">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: blue;">Target Node Tag (Optional)</td>
                            <td>
                                <input type="text" ng-model="editOne.nodeTags" width="400px"
                                       ui-dropdown="{valueField: 'tag', labelField: 'tag', list: 'tmp.nodeTagList', multiple: true, blankLabel: '--/--', widthMultipleInput: 400}"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: blue;">Target Node Tag By Replica Index (Optional)</td>
                            <td>
                                <input type="text" ng-model="editOne.nodeTagsByReplicaIndex" width="400px"
                                       ui-dropdown="{valueField: 'tag', labelField: 'tag', list: 'tmp.nodeTagList', multiple: true, blankLabel: '--/--', widthMultipleInput: 400}"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: blue;">Config Items</td>
                            <td>
                                <table>
                                    <tr>
                                        <td><label>Mem MB</label></td>
                                        <td><input type="text" ng-model="editOne.extendParams.params.memMB"
                                                   ui-valid="r int"
                                                   style="width: 120px;"/></td>
                                    </tr>
                                    <tr>
                                        <td>Cpu Cores</td>
                                        <td><input type="text" ng-model="editOne.extendParams.params.cpuFixed"
                                                   ui-valid="r float minval:float:0.5 maxval:float:4.0"
                                                   style="width: 120px;"/></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Backup / Maintain</h5>
                </div>
                <div class="widget-content">
                    <table class="table table-bordered table-striped m_top6" style="width: 1200px;"
                           ng-form="tmp.addForm2">
                        <tr>
                            <td width="30%" style="color: blue;">Backup Template</td>
                            <td>
                                <select ng-options="a.id as a.name for a in tmp.backupTemplateList"
                                        ng-model="editOne.backupPolicy.backupTemplateId"
                                        ui-valid="{{editOne.backupPolicy.isAutomaticBackup ? 'r' :''}}"
                                        style="width: 120px;">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: blue;">Is Automatic Backup</td>
                            <td>
                                <input type="checkbox" ng-model="editOne.backupPolicy.isAutomaticBackup"/>
                            </td>
                        </tr>
                        <tr ng-show="editOne.backupPolicy.isAutomaticBackup">
                            <td style="color: blue;">Retention Period (days / or hours)</td>
                            <td>
                                <input type="text" ng-model="editOne.backupPolicy.retentionPeriod"
                                       ui-valid="int minval:int:1 maxval:int:7"/>
                            </td>
                        </tr>
                        <tr ng-show="editOne.backupPolicy.isAutomaticBackup">
                            <td style="color: blue;">Interval Type</td>
                            <td>
                                <input type="radio" value="daily" ng-model="editOne.backupPolicy.dailyOrHourly"/>&nbsp;Daily&nbsp;&nbsp;
                                <input type="radio" value="hourly" ng-model="editOne.backupPolicy.dailyOrHourly"/>&nbsp;Hourly&nbsp;&nbsp;
                            </td>
                        </tr>


                        <tr ng-show="editOne.backupPolicy.isAutomaticBackup">
                            <td style="color: blue;">Is Backup Window Specify</td>
                            <td>
                                <input type="checkbox" ng-model="editOne.backupPolicy.isBackupWindowSpecify"/>
                            </td>
                        </tr>
                        <tr ng-show="editOne.backupPolicy.isBackupWindowSpecify">
                            <td style="color: blue;">Start Time</td>
                            <td>
                                <input type="text" ng-model="editOne.backupPolicy.startTime"
                                       ui-valid="time"/>
                            </td>
                        </tr>
                        <tr ng-show="editOne.backupPolicy.isBackupWindowSpecify">
                            <td style="color: blue;">Duration Hours</td>
                            <td>
                                <input type="text" ng-model="editOne.backupPolicy.durationHours"
                                       ui-valid="int minval:int:1 maxval:int:6"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div><!-- /.row-fluid -->

    </div>

</div>
