<div ng-controller="MainCtrl">

    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Redis Service - {{params.name}} - Job List</h5>
                    <div class="actions">
                        <button class="btn" ng-click="back()">Back</button>
                    </div>
                </div>
                <div class="widget-content">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="10%">job id</th>
                            <th width="15%">type</th>
                            <th width="15%">status</th>
                            <th width="10%">cost ms</th>
                            <th width="10%">failed num</th>
                            <th width="10%">updated date</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="one in ll">
                            <td>{{one.id}}</td>
                            <td>{{one.type}}</td>
                            <td>{{one.status}}</td>
                            <td>{{one.costMs}}</td>
                            <td>{{one.failedNum}}</td>
                            <td>{{one.updatedDate | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                            <td class="opts">
                                <div class="btn-line">
                                    <button class="btn" ng-click="showDetail(one)">Detail
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="margin-top: 6px;" ui-pagi="" pager="pager" on-change-page="queryLl(cp, event)"></div>
                </div>
            </div>

        </div><!-- /.row-fluid -->

    </div>

</div>
