<div ng-controller="MainCtrl">

    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Redis Service - {{params.name}} - Job List</h5>
                    <div class="actions">
                        <button class="btn" ng-click="back()">Back</button>
                    </div>
                </div>
                <div class="widget-content">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="10%">job id</th>
                            <th width="15%">type</th>
                            <th width="15%">status</th>
                            <th width="10%">cost ms</th>
                            <th width="10%">failed num</th>
                            <th width="10%">updated date</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="one in ll">
                            <td>{{one.id}}</td>
                            <td>{{one.type}}</td>
                            <td>{{one.status}}</td>
                            <td>{{one.costMs}}</td>
                            <td>{{one.failedNum}}</td>
                            <td>{{one.updatedDate | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                            <td class="opts">
                                <div class="btn-line">
                                    <button class="btn" ng-click="showTaskLog(one)">Detail
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="margin-top: 6px;" ui-pagi="" pager="pager" on-change-page="queryLl(cp, event)"></div>
                </div>
            </div>

        </div><!-- /.row-fluid -->

    </div>

    <script type="text/x-template"
            ui-dialog="{showModel: 'ctrl.isShowTaskLog', title: 'Detail / Task List', dialogId: 'dialogTaskLog', lock: true, fixed: true, ext: {max: false}}">
        <table class="table table-bordered table-striped" style="width: 1200px;">
            <tr>
                <th width="20%">Step</th>
                <th width="10%">Cost (ms)</th>
                <th width="15%">Created Date</th>
                <th width="15%">Updated Date</th>
                <th width="10%">Result</th>
                <th width="30%">Message</th>
            </tr>
            <tr ng-repeat="one in taskLogList">
                <td>{{one.step}}</td>
                <td>{{one.costMs}}</td>
                <td>{{one.createdDate | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                <td>{{one.updatedDate | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                <td>
                    <span ng-class="{'bg-success': one.jobResult.isOk, 'bg-danger': !one.jobResult.isOk}">{{one.jobResult.isOk}}</span>
                </td>
                <td>
                    <p ng-show="one.jobResult.message">{{one.jobResult.message}}</p>
                </td>
            </tr>
        </table>
        <button class="btn" ng-click="ctrl.isShowTaskLog = false">Close</button>
    </script>
</div>
