<div ng-controller="MainCtrl">

    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Redis Service - {{one.name}}</h5>
                    <div class="actions">
                        <button class="btn" ng-click="refresh()">Refresh</button>
                        <button class="btn" ng-click="goServiceJobs()">Jobs</button>
                        <button class="btn" ng-click="goServiceBackups()">Backups</button>
                        <button class="btn btn-info" ng-click="chooseCopyFrom()">Data Transfer</button>
                        <button class="btn btn-gray" ng-click="goAppDetail(ext.appId, ext.appName, ext.appDes)"
                                ng-show="one.mode == 'standalone' || one.mode == 'sentinel'">Go To Target DMS App
                        </button>
                        <button class="btn" ng-click="back()">Back</button>
                    </div>
                </div>
                <div class="widget-content">
                    <span class="bg-info">Last Refreshed: {{tmp.refreshTime | date:'yyyy/MM/dd HH:mm:ss'}}</span>
                    <div class="row">
                        <div class="col-md-4">
                            <span>Description</span>
                            <span class="pull-right">{{one.des}}</span>
                        </div>
                        <div class="col-md-4">
                            <span>Mode</span>
                            <span class="pull-right">{{one.mode}}</span>
                        </div>
                        <div class="col-md-4">
                            <span>Created Time</span>
                            <span class="pull-right">{{one.createdDate | date:'yyyy/MM/dd HH:mm:ss'}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <span>Engine Type</span>
                            <span class="pull-right">{{one.engineType}}</span>
                        </div>
                        <div class="col-md-4">
                            <span>Engine Version</span>
                            <span class="pull-right">{{one.engineVersion}}</span>
                        </div>
                        <div class="col-md-4">
                            <span>Config Template Name</span>
                            <span class="pull-right">{{ext.configTemplateName}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <span>Each Instance Max Memory</span>
                            <span class="pull-right">{{one.maxmemoryMb}} MB</span>
                            <button class="btn" ng-click="updateMaxmemory(one)">Update</button>
                        </div>
                        <div class="col-md-4">
                            <span>Shards</span>
                            <span class="pull-right">{{one.shards}}</span>
                            <button class="btn" ng-click="doScale(one)" ng-show="'cluster' == one.mode">Scale</button>
                        </div>
                        <div class="col-md-4">
                            <span>Replicas</span>
                            <span class="pull-right">{{one.replicas}}</span>
                            <button class="btn" ng-click="doUpdateReplicas(one)">Change Replicas</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <span>First Instance Port</span>
                            <span class="pull-right">{{one.port}}</span>
                        </div>
                        <div class="col-md-4">
                            <span>Node Tags</span>
                            <span class="pull-right">{{one.nodeTags}}</span>
                        </div>
                        <div class="col-md-4">
                            <span>Node Tags By Replica Index</span>
                            <span class="pull-right">{{one.nodeTagsByReplicaIndex}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Connect</h5>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-md-4">
                            <span>Password</span>
                            <span class="pull-right">{{one.pass ? '***' : 'Anonymous'}}</span>
                            <button class="btn" ng-click="viewPass(one)" ng-show="one.pass">View Password</button>
                        </div>
                        <div class="col-md-8">
                            <span>Connection String</span>
                            <span class="pull-right">{{ext.connectionString}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Backup / Maintain</h5>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-md-3">
                            <span>Backup Template</span>
                            <span class="pull-right">{{ext.backupTemplateName}}</span>
                        </div>
                        <div class="col-md-3">
                            <span>Is Automatic Backup</span>
                            <span class="pull-right">{{one.backupPolicy.isAutomaticBackup}}</span>
                        </div>
                        <div class="col-md-3">
                            <span>Retention Period (days / or hours)</span>
                            <span class="pull-right">{{one.backupPolicy.retentionPeriod}}</span>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span>Interval Type</span>
                            <span class="pull-right">{{one.backupPolicy.dailyOrHourly}}</span>
                        </div>
                        <div class="col-md-3">
                            <span>Is Backup Window Specify</span>
                            <span class="pull-right">{{one.backupPolicy.isBackupWindowSpecify}}</span>
                        </div>
                        <div class="col-md-3" ng-show="one.backupPolicy.isBackupWindowSpecify">
                            <span>Start Time</span>
                            <span class="pull-right">{{one.backupPolicy.startTime}}</span>
                        </div>
                        <div class="col-md-3" ng-show="one.backupPolicy.isBackupWindowSpecify">
                            <span>Duration Hours</span>
                            <span class="pull-right">{{one.backupPolicy.durationHours}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Status</h5>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="bg-info">{{one.status}}</span>
                        </div>
                        <div class="col-md-10" ng-show="!checkResult.isOk">
                            <span>Check Result Message</span>
                            <span class="bg-danger pull-right">{{checkResult.message}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget-box">
                <div class="widget-content">
                    <ul class="nav nav-tabs" ui-tabs="{beforeFn: 'changeTab'}">
                        <li class="active"><a>Instance List</a></li>
                        <li><a>Metrics</a></li>
                    </ul>
                    <div class="tabs active">
                        <table class="table table-bordered table-striped m_top6">
                            <tr>
                                <th width="10%">Shard Index</th>
                                <th width="10%">Replica Index</th>
                                <th width="10%">Is Primary</th>
                                <th width="20%">Node Ip / Port</th>
                                <th width="10%">Status</th>
                                <th width="20%">{{one.mode == 'cluster' ? 'Slot Range' : 'Other'}}</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="node in nodes">
                                <td>
                                    {{node.shardIndex}}
                                </td>
                                <td>{{node.replicaIndex}}</td>
                                <td>
                                    <span ng-class="{'bg-info': !node.isPrimary, 'bg-success': node.isPrimary}">{{node.isPrimary}}</span>
                                </td>
                                <td>{{node.ip}}:{{node.port}}</td>
                                <td>
                                    <span ng-class="{'bg-danger': !node.running, 'bg-success': node.running}">{{node.running ? 'running' : 'unhealthy'}}</span>
                                </td>
                                <td>
                                    <ul ng-show="one.mode == 'cluster' && node.isPrimary">
                                        <li ng-repeat="slotRange in node.slotRangeList">
                                            {{slotRange.begin}}-{{slotRange.end}}
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="btn-line">
                                        <button class="btn btn-gray"
                                                ng-click="goAppDetail(node.appId, node.appName)"
                                                ng-show="one.mode == 'cluster' && node.isPrimary">
                                            Go To Target DMS App
                                        </button>
                                        <button class="btn bg-danger"
                                                ng-click="doFailover(one.id, node.shardIndex, node.replicaIndex)"
                                                ng-show="!node.isPrimary && node.running">
                                            Do Failover
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="tabs">
                        <div class="form-group">
                            <label>time range: </label>
                            <select ng-model="tmp.timeRange" ng-options="a for a in tmp.timeRangeList"
                                    style="width: 200px;" ng-change="queryMetrics()">
                            </select>
                            <select ng-model="tmp.metricInstance" ng-options="a for a in tmp.metricInstanceList"
                                    style="width: 200px;" ng-change="changeInstanceMetrics()">
                            </select>
                            <button class="btn" ng-click="queryMetrics()">Refresh</button>
                            <label>Metrics Last Refreshed: {{tmp.metricsRefreshTime | date:'yyyy/MM/dd HH:mm:ss'}}</label>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div style="height: 400px;"
                                     ui-chart-line="{scopeDataName: 'charts.redis_memory_used_bytes', name: 'Memory Used', title: 'Memory Used', width: 400}"></div>
                            </div>
                            <div class="col-md-4">
                                <div style="height: 400px;"
                                     ui-chart-line="{scopeDataName: 'charts.redis_connected_clients', name: 'Connected Clients', title: 'Connected Clients', width: 400}"></div>
                            </div>
                            <div class="col-md-4">
                                <div style="height: 400px;"
                                     ui-chart-line="{scopeDataName: 'charts.redis_db_keys', name: 'DB Keys', title: 'DB Keys', width: 400}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div style="height: 400px;"
                                     ui-chart-line="{scopeDataName: 'charts.redis_cpu_usage_percent', name: 'Cpu Used', title: 'Cpu Used', width: 400}"></div>
                            </div>
                            <div class="col-md-4">
                                <div style="height: 400px;"
                                     ui-chart-line="{scopeDataName: 'charts.redis_commands_processed_qps', name: 'Commands QPS', title: 'Commands QPS', width: 400}"></div>
                            </div>
                            <div class="col-md-4">
                                <div style="height: 400px;"
                                     ui-chart-line="{scopeDataName: 'charts.redis_keyspace_hits_ratio', name: 'Hits ratio', title: 'Hits ratio', width: 400}"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- /.row-fluid -->

    </div>

    <script type="text/x-template"
            ui-dialog="{showModel: 'ctrl.isShowCopyFrom', title: 'Copy Data From Another Redis Service', dialogId: 'dialogCopyFrom', lock: true, fixed: true, ext: {max: false}}">
        <table class="table table-bordered table-striped m_top6" style="width: 600px;">
            <tr>
                <td width="40%">From Service</td>
                <td>
                    <select ng-options="a.id as a.name for a in tmp.copyFromServiceList"
                            ng-model="tmp.copyFromId"
                            style="width: 200px;">
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Type
                    <a href="https://tair-opensource.github.io/RedisShake/en/reader/sync_reader.html" target="_blank">Refer
                        to doc</a>
                </td>
                <td>
                    <input type="radio" value="sync" ng-model="tmp.copyFromType"/>&nbsp;sync&nbsp;&nbsp;
                    <input type="radio" value="scan" ng-model="tmp.copyFromType"/>&nbsp;scan&nbsp;&nbsp;
                </td>
            </tr>
        </table>
        <button class="btn btn-blue" ng-click="doCopyFrom()">Do Copy From</button>
        <button class="btn" ng-click="ctrl.isShowCopyFrom = false">Close</button>
    </script>
</div>
