<div ng-controller="MainCtrl">
    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Sentinel Service List</h5>
                    <div class="actions">
                        <button class="btn" ng-click="doAdd()">Add One</button>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="form-group">
                        <label>Keyword Filter: </label>
                        <input type="text" ng-model="tmp.keyword" placeholder="Input Keyword"/>
                        <button class="btn" ng-click="queryLl()">Query</button>
                    </div>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="15%">name</th>
                            <th width="20%">des</th>
                            <th width="15%">replicas</th>
                            <th width="15%">status</th>
                            <th width="15%">updated date</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="one in ll">
                            <td>{{one.name}}</td>
                            <td>{{one.des}}</td>
                            <td>{{one.replicas}}</td>
                            <td><span
                                    ng-class="{'bg-info': 'creating' == one.status, 'bg-success': 'running' == one.status, 'bg-tips': 'deleted' == one.status, 'bg-danger': 'unhealthy' == one.status}">{{one.status}}</span>
                                <hr/>
                                <span class="bg-danger" ng-show="one.extendParams.params.statusMessage">
                                    {{one.extendParams.params.statusMessage}}
                                </span>
                            </td>
                            <td>{{one.updatedDate | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                            <td class="opts">
                                <div class="btn-line">
                                    <button class="btn btn-red" ng-click="delete(one)"
                                            ng-show="one.status != 'deleted'">Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="margin-top: 6px;" ui-pagi="" pager="pager" on-change-page="queryLl(cp, event)"></div>
                </div>
            </div>


        </div><!-- /.row-fluid -->
    </div>

    <script type="text/x-template"
            ui-dialog="{showModel: 'ctrl.isShowAdd', title: 'Add A Sentinel Cluster', dialogId: 'dialogVolume', lock: true, fixed: true, ext: {max: false}}">
        <table class="table table-bordered table-striped m_top6" style="width: 600px;" ng-form="tmp.addForm">
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" ng-model="editOne.name" ui-valid="r"/>
                </td>
            </tr>
            <tr>
                <td>Des</td>
                <td>
                    <input type="text" ng-model="editOne.des"/>
                </td>
            </tr>
            <tr>
                <td>Replicas</td>
                <td>
                    <select ng-model="editOne.replicas">
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Port</td>
                <td><input type="text" ng-model="editOne.port"
                           ui-valid="r int minval:int:26379 maxval:int:36379"
                           style="width: 120px;"/></td>
            </tr>
            <tr>
                <td>Password (Optional)</td>
                <td><input type="password" ng-model="editOne.pass"
                           style="width: 120px;"/></td>
            </tr>
            <tr>
                <td>Target Node Tag (Optional)</td>
                <td>
                    <input type="text" ng-model="editOne.nodeTags" width="400px"
                           ui-dropdown="{valueField: 'tag', labelField: 'tag', list: 'tmp.nodeTagList', multiple: true, blankLabel: '--/--', widthMultipleInput: 400}"/>
                </td>
            </tr>
            <tr>
                <td>Config Items</td>
                <td>
                    <table>
                        <tr>
                            <td width="30%"><label>Mem MB</label></td>
                            <td><input type="text" ng-model="editOne.extendParams.params.memMB"
                                       ui-valid="r int minval:int:128 maxval:int:512"
                                       style="width: 120px;"/></td>
                        </tr>
                        <tr>
                            <td>Cpu Cores</td>
                            <td><input type="text" ng-model="editOne.extendParams.params.cpuFixed"
                                       ui-valid="r float minval:float:0.1 maxval:float:1.0"
                                       style="width: 120px;"/></td>
                        </tr>
                        <tr>
                            <td>Down After Millis</td>
                            <td><input type="text" ng-model="editOne.extendParams.params.downAfterMs"
                                       ui-valid="r int minval:int:10000 maxval:int:30000"
                                       style="width: 120px;"/></td>
                        </tr>
                        <tr>
                            <td>Failover Timeout Millis</td>
                            <td><input type="text" ng-model="editOne.extendParams.params.failoverTimeout"
                                       ui-valid="r int minval:int:60000 maxval:int:180000"
                                       style="width: 120px;"/></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <button class="btn btn-blue" ng-click="save()">Save</button>
        <button class="btn" ng-click="ctrl.isShowAdd = false">Close</button>
    </script>

</div>
