.widget-box {
	border-top: 3px solid #7d7d7e;
}

.btn {
	background-color: #98989C;
  border: none;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled]{
	background-color: #7d7d7e;
}

.dataTables_paginate span .ui-state-disabled, .pagination.alternate li.active a{
	background:#98989C;
}

.row h5 {
	border-top: 3px solid #7d7d7e;
}

.ui_lt,.ui_rt,.ui_lb,.ui_rb,.ui_l,.ui_r {
	background-image: url(../../../images/gray_s.png) !important;
}

.ui_t,.ui_b {
	background-image: url(../../../images/gray_s2.png) !important;
}
