<div ng-controller="MainCtrl">

    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Admin Password Reset</h5>
                </div>
                <div class="widget-content">
                    <table class="table table-bordered table-striped m_top6" style="width: 400px;"
                           ng-form="tmp.addForm">
                        <tr>
                            <td>Old Password</td>
                            <td>
                                <input type="password" ng-model="editOne.password" ui-valid="r minlen:char:6"/>
                            </td>
                        </tr>
                        <tr>
                            <td>New Password</td>
                            <td>
                                <input type="password" ng-model="editOne.newPassword" ui-valid="r minlen:char:6"/>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-blue" ng-click="update()">Update</button>
                </div>
            </div>

        </div><!-- /.row-fluid -->

    </div>

</div>
