<div ng-controller="MainCtrl">
    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>Image Port Define List</h5>
                    <div class="actions">
                        <button class="btn" ng-click="editOne = {}; ctrl.isShowAdd = true;">Add One</button>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="form-group">
                        <input type="text" ng-model="tmp.keyword" placeholder="Input Keyword"/>
                        <button class="btn" ng-click="queryLl()">Query</button>
                    </div>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="20%">image name</th>
                            <th width="20%">name</th>
                            <th width="20%">des</th>
                            <th width="20%">port</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="one in ll">
                            <td>{{one.imageName}}</td>
                            <td>{{one.name}}</td>
                            <td>{{one.des}}</td>
                            <td>{{one.port}}</td>
                            <td class="opts">
                                <div class="btn-line">
                                    <button class="btn btn-red" ng-click="delete(one)">Delete</button>
                                </div>
                                <div class="btn-line">
                                    <button class="btn" ng-click="edit(one)">Update</button>
                                </div>
                                <div class="btn-line">
                                    <button class="btn" ng-click="copy(one)">Copy</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="margin-top: 6px;" ui-pagi="" pager="pager" on-change-page="queryLl(cp, event)"></div>
                </div>
            </div>


        </div><!-- /.row-fluid -->
    </div>

    <script type="text/x-template"
            ui-dialog="{showModel: 'ctrl.isShowAdd', title: 'Add/Update Image Port Define', dialogId: 'dialogPort', lock: true, fixed: true, ext: {max: false}}">
        <table class="table table-bordered table-striped m_top6" style="width: 600px;" ng-form="tmp.addForm">
            <tr>
                <td>ID</td>
                <td>{{editOne.id}}</td>
            </tr>
            <tr>
                <td>Image Name</td>
                <td>
                    <input type="text" ng-model="editOne.imageName" ui-valid="r imageWithGroup"
                           placeholder="library/nginx"/>
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" ng-model="editOne.name" ui-valid="r"/>
                </td>
            </tr>
            <tr>
                <td>Des</td>
                <td>
                    <input type="text" ng-model="editOne.des"/>
                </td>
            </tr>
            <tr>
                <td>Port</td>
                <td>
                    <input type="text" ng-model="editOne.port" ui-valid="r int"/>
                </td>
            </tr>
        </table>
        <button class="btn btn-blue" ng-click="save()">Save</button>
        <button class="btn" ng-click="ctrl.isShowAdd = false">Close</button>
    </script>

</div>
